{% ckan_extends %}


{% block resource_additional_information_inner %}
<div class="module-content">
  <h2>{{ _('Additional Information') }}</h2>
  <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ _('Format') }}</th>
        <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('License') }}</th>
        <td>
          {% if package.get('license_url') %}
          <a href="{{ package.license_url }}" rel="dc:rights">{{
            h.bodik_theme_translate_license(package.get('license_title')) }}</a>
          {% elif package.get('license_id') %}
          <span property="dc:rights">{{ h.bodik_theme_translate_license(package.get('license_title')) }}</span>
          {% else %}
          <span>{{ _('No License Provided') }}</span>
          {% endif %}
        </td>
      </tr>
      {% if res.last_modified %}
      <tr>
        <th scope="row">{{ _('Last updated') }}</th>
        <td>{{ h.bodik_theme_render_datetime(res.last_modified, date_format='%Y-%m-%d %H:%M') or
          h.render_datetime(res.revision_timestamp, date_format='%Y-%m-%d %H:%M') or h.render_datetime(res.created,
          date_format='%Y-%m-%d %H:%M') or _('unknown') }}</td>
      </tr>
      {% endif %}
      {% if res.created %}
      <tr>
        <th scope="row">{{ _('Created') }}</th>
        <td>{{ h.bodik_theme_render_datetime(res.created, date_format='%Y-%m-%d %H:%M') or _('unknown') }}</td>
      </tr>
      {% endif %}
      {% for key, value in h.format_resource_items(res.items()) %}
      {% if key not in ('tracking summary', 'tracking_summary') %}
      <tr class="toggle-more">
        <th scope="row">{{ key }}</th>
        <td>{{ value }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
